<!DOCTYPE html>
<html lang="en">
<head>
	<title>book factory: directory</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="directory: generative output from the book factory" />
	<meta name="author" content="kathy mctavish">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebPage",
			"name": "book factory: directory",
			"breadcrumb": "book factory > directory",
          	"url": "https://www.bookfactory.work/index.html",
			"description": "directory: generative output from the book factory",
			"datePublished": "<%- p.datetime %>",
          	"image": "https://www.bookfactory.work/apple-touch-icon.png",
			"author": "https://mctavish.io/bio.html",
			"license": "http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US"
		}
	</script>
	<script type="text/javascript">
		let library = <%-JSON.stringify(p.library)%>;
		// console.log(<%-JSON.stringify(p.library)%>);
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0989MECNZV"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-0989MECNZV');
	</script>
	<link rel="stylesheet" href="/css/bookfactory.css"/>
</head>
<body id="top">
<div id="subtextframe" class="frame zlowest"></div>
<div id="svgframe" class="frame zlow"><svg xmlns="http://www.w3.org/2000/svg" id="svg" class="frame"></svg></div>
<div id="wordframe" class="frame z0"></div>
<div id="contentframe" class="absolute zhighest">
<div id="mainflex">
<main id="main" class="compress" data-state="compressed">
<header>
	<h1>directory</h1>
</header>
<!-- <nav>
<ul class="expand" >
	<li><a href="https://www.mctavish.io/index.html" id="homelink" class="corelink">mctavish portfolio</a></li>
</ul>
</nav> -->
<article>
	<header>
		<h1>by print run</h1>
		<h2>(by date)</h2>
	</header>
	<p>(click to expand)</p>p>
	<% p.librarymatrix["printruns"].entries().forEach( printrun => {%>
		<details>
		<summary>printrun : <%- new Date(printrun[0]).toDateString() %></summary>
				<ul>
					<% printrun[1].forEach( book => {%>
					<li><a href="<%- book %>/index.html"><%- book %></a></li>
					<% }) %>
				</ul>
		</details>
	<% }) %>
</article>
<article>
	<header>
		<h1>by use of color</h1>
	</header>
	<p>(click to expand)</p>p>
	<% p.librarymatrix["pigmentsets"].entries().forEach( pigmentset => {%>
		<details>
		<summary>colors : <%- pigmentset %></summary>
				<ul>
					<% pigmentset[1].forEach( book => {%>
					<li><a href="<%- book %>/index.html"><%- book %></a></li>
					<% }) %>
				</ul>
		</details>
	<% }) %>
</article>

<% p.librarymatrix["algorithms"].entries().forEach( a => {%>
<article>
	<header>
		<h1>algorithm #<%- a[0] %></h1>
	</header>
	<p id="slides" class="vimeowrapper16x9">
		<figure>
			<video controls=1 width="100%" loop=1 playsinline=1 muted=1 poster="https://storage.googleapis.com/bookfactory/<%- a[1][0] %>/page01-small.png">
			    <source src="https://storage.googleapis.com/bookfactory/<%- a[1][0] %>/book.mp4" type="video/mp4">
			    <!-- <source src="https://storage.googleapis.com/bookfactory/books/algorithm-<%- a.algorithm %>_printrun-<%- a.printrun %>_book/book.webm" type="video/webm"> -->
				Sorry, your browser doesn't support embedded videos.
			</video>
			<figcaption>geometric abtraction sequence created by algorithm <%- a[0] %></figcaption>
		</figure>
	</p>
	<p><a href="index_algorithm-<%- a.algorithm %>.html">view books (print runs)</a></p>
</article>
<% }) %>

<article>
	<header>
		<h1>raw data</h1>
	</header>
	<details>
    <summary>click to view</summary>
	<div id="rawdata" class="code">
		<%-JSON.stringify(p.librarymatrix,null,2)%>
	</div>
	</details>
</article>

<nav>
<ul class="expand" >
	<li><a href="https://www.mctavish.io/index.html" id="homelink" class="corelink">mctavish portfolio</a></li>
</ul>
</nav>
</main>
</div>
</div>
<!-- <div id="hidetext"><a id="hidetextlink" href="#" title="hide text">-</a></div> -->
</body>


</html>